@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.ttf");
    font-weight: 800;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.title {
    font-weight: 600;
    font-size: 42px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: rgba(43, 42, 40, 0.95);
    margin-bottom: 30px;
}
.aligned-title {
    font-weight: bold;
    text-align: left;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    line-height: 40px;
}

.aligned-title::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 10px;
    background-color: #457B7E;
    right: 0;
    bottom: -30px;
}


.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: rgba(196, 196, 196, 0.8);
    opacity: 1;
    margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
    background-color: #FFFFFF;
    width: 15px;
    height: 15px;
    opacity: 1;
    box-shadow: 0 0 0 3px rgba(196, 196, 196, 0.8);
}

.swiper-button-next,
.swiper-button-prev,
.popup-icon-wr {
    top: 50%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.swiper-button-next img,
.swiper-button-prev img,
.popup-icon-wr img {
    width: 33px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: none;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: transparent;
    color: #404148;
    z-index: 11;
    transition: 0.3s;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.logo-wr {
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
}

.logo {
    width: 47px;
}

.logo-img {
    width: 100%;
    transition: 0.3s;
}

.logo-desc {
    position: relative;
    margin-left: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    font-size: 14px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item {
    padding: 15px 10px;
    transition: 0.3s linear;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.nav-item:first-child {
    z-index: 2;
    position: relative;         
}

.nav-link,
.submenu-link {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover,
.submenu-link:hover {
    opacity: 0.6;
}
.submenu {
    /* display: none; */
    background: white;
    color: #2B2A28;
    font-size: 14px;
    text-align: left;
    position: absolute;
    height: auto;
    width: max-content;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    transition: 0.3s;
}
.submenu-item {
    padding: 5px 10px;
}
.submenu-link {
    text-transform: none;
}
.nav-item:hover .submenu {
    opacity: 1;
    visibility: visible;
}
.burger {
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    outline: none;
    display: none;
}
.burger:hover {
    opacity: 0.7;
}
.burger span {
    width: 35px;
    height: 3px;
    background: #ffffff;
    display: block;
    margin: 5px 0;
}
.burger_opened {
    background: rgba(0, 0, 0, 0.3);
}
.feedback {
    position: relative;
    display: flex;
    align-items: center;
}

.phoneBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    background: rgba(82, 82, 82, 0.45);
    border-radius: 10px;
    padding: 10px 17px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
}
.phoneBlock a {
    transition: 0.3s;
    color: #fff;
    display: block;
}

.phoneBlock a:hover {
    transform: scale(1.05);
}
.feedback-phone {
    text-decoration: none;
}

.phoneDesc {
    text-decoration: underline;
    margin-top: 6px;
    font-size: 14px;
}
.socialList {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 36px;
}

.socialList-c {
    display: flex;
    margin-top: 10px;
}

.socialDesc {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.feedback-instagram {
    background-image: url("../images/icons/instagram.png");
}

.feedback-whatsapp {
    background-image: url("../images/icons/whatsapp.png");
}

.feedback-telegram {
    background-image: url("../images/icons/telegram.png");
}

.feedback-link {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    transition: 0.3s;
    margin-right: 20px;
    transition: .3s ease;
    outline: none;
}

.feedback-link:hover,
.feedback-link:focus {
    transform: scale(1.05);
}

.feedback-link:last-child {
    margin-right: 0;
}

.partitions {
    background-color: rgba(43, 42, 40, 0.9);
    background-image: url("../images/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media not all and (min-resolution:.001dpcm) { @media {

    .partitions {
        background-attachment: initial;
    }
}}

.partitions__container {
    padding-top: 110px;
}

.partitions__title {
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 34.7004px;
    line-height: normal;
    letter-spacing: 0.05em;
}

.partitions__titleDesc {
    display: block;
    margin: 40px 0 0 0;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.05em;
}

.partitions__plus {
    padding-top: 25px;
}

.partitions__plus-item {
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
}
.partitions__plus-item:not(:first-child) {
    padding-top: 15px;
}

.partitions__plus-item:nth-child(1):before {
    background-image: url('../images/icons/pencil-and-ruler.png');
}

.partitions__plus-item:nth-child(2):before {
    background-image: url('../images/icons/tools.png');
}

.partitions__plus-item:nth-child(3):before {
    background-image: url('../images/icons/tax-free.png');
}

.partitions__plus-item::before {
    content: '';
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 15px;
}
.partitions__description {
    padding-top: 35px;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.partitions__buttonsBlock {
    display: flex;
    width: 100%;
}

.partitions__btn {
    margin-top: 30px;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding: 13px 50px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(37, 186, 74, 0.59);
    backdrop-filter: blur(20px);
}

.partitions__btn:hover {
    box-shadow: 0 0 20px rgba(54, 56, 74, 0.2);
    background-color: #404148;
    color: #ffffff;
}

.getCatalog {
    font-size: 22px;
    padding: 20px 50px 21px;
    font-weight: 700;
    background: rgba(189, 52, 58, 0.9);
    margin-left: 70px;
}

.getCatalog:hover,
.views__wrapper .getCatalog:hover {
    background-color: #ffffff;
    color: #404148;
}

.views {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
.views__title {
    margin-bottom: 10px;
}
.views__content-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.views__content-item {
    width: 33.333%;
    padding: 15px 20px;
    display: flex;
}

.views__content-card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    transition: 0.3s;
}
.views__content-card:hover {

    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.29);
}
.views__content-card-images {
    border: 4px solid white;
}
.views__content-card-content {
    padding: 10px 20px 20px;
}

.views__content-card-title {
    color: #303030;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.views__content-card-text {
    padding-top: 10px;
    color: #726C6C;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.views__content-card-text p:not(:last-child) {
    margin-bottom: 15px;
}

.swiper-slide-picture {
    background-color: #c7c7c5;
    width: 100%;
    height: 250px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.views__wrapper {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.views__wrapper .getCatalog {
    margin-left: 0;
    background-color: #457B7E;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.views__btn {
    box-shadow: 0 0 20px rgba(64, 65, 72, 0.2);
    border-radius: 35px;
    background-color: #404148;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding: 25px 50px;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
}

.views__btn:hover {
    box-shadow: 0 0 20px rgba(165, 165, 165, 0.2);
    background-color: #ffffff;
    color: #404148;
}
.views__prev,
.views__next {
    width: 45px;
    height: 45px;
}

.advantages {
    display: flex;
    justify-content: center;
    padding: 25px 0 50px;
}

.advantages__content-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.advantages__content-item {
    width: 33.333%;
    margin-top: 30px;
}

.advantages__content-img-wrapper {
    overflow: hidden;
    width: 100%;
    height: 265px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.advantages__content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.advantages__content-plus {
    display: flex;
}

.advantages__content-plus-number {
    display: flex;
    padding-right: 20px;
    padding-top: 35px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #457B7E;
    font-size: 110px;
}

.advantages__content-plus-description {
    padding-right: 30px;
}

.advantages__content-plus-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 15px;
}

.advantages__content-plus-description p {
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #000000;
}
.advantages__content-plus-description p:not(:last-child) {
    margin-bottom: 15px;
}

.advantages__prev {
    left: -30px;
}

.advantages__next {
    right: -30px;
}
.advantages__next,
.advantages__prev {
    top: 155px;
}

.arrange {
    display: flex;
    justify-content: center;
}

.arrange {
    background-image: url("../images/arrange-backgroud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3b4544 ;
    padding: 35px 0;
    min-height: 310px;
}

.arrange__title {
    color: #ffffff;
}

.arrange__process-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.arrange__process-item {
    width: 33.333%;
    text-align: center;
    position: relative;
}

.arrange__process-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrange__process-icons-picture {
    width: 70px;
    height: auto;
}
.arrange__order .arrange__process-icons::after,
.arrange__project .arrange__process-icons::after {
    content: "";
    width: 115px;
    height: 40px;
    background-image: url(../images/icons/move-to-next.png);
    display: block;
    position: absolute;
    background-size: contain;
}

.arrange__order .arrange__process-icons::after {
    left: calc(100% - 60px);
}

.arrange__project .arrange__process-icons::after {
    left: calc(100% - 85px  );
}

.arrange__process-title {
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.02em;
}

.arrange__process-text {
    padding-top: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.arrange__process-wrapper {
    padding-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrange__process-btn {
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 15px 15px;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(189, 52, 58, 0.9);
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgb(255 255 255 / 25%);
    border-radius: 6px;
    max-width: 275px;
    width: 100%;
    border: none;
}

.arrange__process-btn:hover {
    color: #ffffff;
    box-shadow: 0 0 20px rgba(64, 65, 72, 0.2);
}

.cases {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cases__container {
    width: 100%;
    position: relative;
    padding: 30px 0;
}

.cases__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
.cases__list .container {
    height: 100%;
    
    position: relative;
}
.case {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    background: #fff;
    height: 100%;
}
.img_block {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: auto;
    width: calc(100% - 360px);
}


.img_block img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_block {
    position: relative;
    flex-shrink: 0;
    font-weight: normal;
    color: #5E5E5E;
    width: 360px;
    flex-shrink: 0;
    font-size: 14.8529px;
    line-height: 18px;
    letter-spacing: 0.02em;
}
.mission {
    height: 210px;
}
.text_titleCase {
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 9px;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.05em;
}
.text_titleCase:not(:first-of-type) {
    margin-top:25px;
}
.text_titleCase::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background: #304243;
    top: 0;
    right: 0;
}
.text_titleCase span {
    position: relative;
}
.text_titleCase, .text_block p {
    margin-bottom: 15px;
    max-width: 330px;
    padding-right: 70px;
}
.cases_navpag {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}
.cases__next,
.cases__prev {
    position: relative;
    top: unset;
}
.cases__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
    height: 100%;
}

.cases__pagination, .cases__navigation {
    left: 360px !important;
    width: calc(100% - 360px) !important;
}
.cases__pagination {
    bottom: 20px!important;
    z-index: 2;
    position: absolute;
}
.cases__swiper .swiper-slide {
    overflow: hidden;
}

.reviews {
    padding: 35px 0;
    display: flex;
    justify-content: center;
    background: #3b4544  url(../images/reviews-bg.jpg) center no-repeat;
    background-size: cover;
}

.reviews__container {
    position: relative;
}

.more-reviews {
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.3s;
    float: right;
}

.more-reviews:hover {
    opacity: 0.7;
}

.more-reviews img {
    margin-left: 10px;
    width: 28px;
}

.reviews__title {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.reviews__list {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.review-img {
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}

.review-img img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
.reviews__swiper  {
    max-width: 825px;
    width: 100%;
}
.reviews__pagination {
    position: relative;
}
.reviews__swiper .swiper-wrapper {
    align-items: center;
}
.reviews__prev {
    left: 100px;
}
.reviews__next {
    right: 100px;
}
.questions {
    padding-top: 40px;
    background: url(../images/questions-bg.jpg) center 140px no-repeat;
    background-size: cover;
}

.questions__content {
    display: flex;
}

.questions__left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 80px 20px 60px;
}

.questions__left-container {
    max-width: 740px;
    width: 100%;
    border-radius: 6px;
    position: relative;
    background: #fff;
}

.questions__right-container {
    max-width: 450px;
    display: flex;
    justify-content: flex-end;
}

.questions__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}
.questions__form .form__title {
    font-size: 19px;
    line-height: 24px;
}
.questions__form .logo_item {
    width: 30px;
}
.questions__form .form__body {
    background: #fff;
    padding: 50px 70px;
}
.questions__form .form__descr {
    padding: 15px 45px;
}
.questions__form .form__body {
    padding: 35px 70px 40px;
}
.questions__form .btn-submit {
    font-size: 18px;
    padding: 20px 10px;
}
.iframe-wr {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    border-radius: 6px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video_swiper {
    height: 100%;
}

.video__prev {
    left: -22px;
}

.video__next {
    right: -22px;
}

.video__next,
.video__prev {
    width: 45px;
    height: 45px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B2A28;
    padding: 40px 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer_added a {
    position: relative;
    display: flex;
    font-size: 12px;
    color: #adadad;
    text-align: center;
    justify-content: center;
    line-height: 2;
    padding-top: 7px;
}

.form__body {
    background: #fff;
    padding: 50px 95px;
}

.form__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
}

.form__descr {
    padding: 20px 15px;
}

.inputs_box input {
    font-size: 16px;
    padding: 10px 0;
}


.popup .content,
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .form {
    border-radius: 8px;
    overflow: hidden;
}

.form__descr {
    background: rgba(48, 66, 67, 1);
    padding: 20px 45px;
    width: 100%;
}

.PopupCatalog .form__descr {
    background: rgba(189, 52, 58, 1);
}

.logo_item {
    width: 40px;
    margin: 0 auto;
}

.logo_item img {
    width: 100%;
}

.popup .form__body {
    background: rgba(245, 245, 245, 0.98);
    padding: 30px 95px;
}

.inputs_box {
    position: relative;
}

.inputs_box input {
    width: 100%;
    padding: 5px 0;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #888785;
    background: inherit;
    border: inherit;
    border-bottom: rgba(163, 163, 163, 0.6) 2px solid;
    margin-bottom: 20px;
}

.inputs_box input::-webkit-input-placeholder {
    color: #c7c7c5;
}

.inputs_box input::-moz-placeholder {
    color: #c7c7c5;
}

.inputs_box input.error {
    border-bottom: #b62929 2px solid;
}

.btn-submit {
    position: relative;
    background: #3E4E4F;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s;
    padding: 25px 10px;
    display: block;
    width: 100%;
    margin-top: 45px;
}

.btn-submit:hover {
    color: #404148;
    background: #fff;
    box-shadow: 4px 0 16px rgba(0, 0, 0, 0.2);
}

.PopupCatalog .btn-submit {
    background: rgba(189, 52, 58, 0.95);
}
.PopupCatalog .btn-submit:hover {
    background: #fff;
}

.desc {
    position: relative;
    margin-top: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.desc a {
    color: #000000;
}

.PopupWindow {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.PopupWindow.visible {
    display: flex;
}

.PopupWindow  .popup {
    position: relative;
    display: none;
    max-width: 555px;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.popup .button-close {
    position: absolute;
    display: block;
    color: #fff;
    top: 0;
    right: 0;
    z-index: 100;
    font-size: 60px;
    transform: translate(130%, -80%) rotate(45deg);
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}

.popup .button-close:hover {
    transform: translate(130%, -80%) rotate(45deg) scale(1.05);
}

.PopupWindow  .popup.visible {
    display: block;
}


.PopupWindow .PhotoPrew {
    position: relative;
    height: 75vh;
    max-width: 910px;
    width: 100%;
    background: inherit;
}

.PopupWindow .PhotoPrew .content_box {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.PopupWindow .PhotoPrew .content_box img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-height: 700px) {
    .PopupWindow .PhotoPrew {
        max-width:  620px;
    }
}
.popup-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: .3s;
    border: none;
    border-radius: 10px 0px  0px 10px;
}
.popup-btn:hover {
    background-color: rgba(0, 0, 0, 0.65);
}

.button-next {
    border-radius: 0px  10px  10px 0px ;
    left: unset;
    right: 0;
}
.popup-icon-wr {
    width: 45px;
    height: 45px;
    margin: auto;
}

.PopupThanks {
    background: none;
    box-shadow: none;
    border-radius: 0;
}

.popup__body {
    background: rgba(245, 245, 245, 0.98);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 20px 30px 60px;
    text-align: center;
    margin-bottom: 25px;
}

.PopupThanks .logo_item {
    width: 145px;
}


.PopupThanks .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    border-bottom: 3px solid #448A8D;
    margin: 10px auto 50px;
    padding-bottom: 5px;
}

.PopupThanks .descr {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #000000;
}

.PopupThanks .descr a {
    color: #448A8D;
    text-decoration: underline;
}

.MultiButtonTool {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 80px;
    height: 80px;
    z-index: 1000;
    cursor: pointer;
    transition: .3s;
    border-radius: 40px;
}

.MultiButtonTool .mbt_logo {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #fff;
    background-image: url(../images/icons/call-not-hover.png);
    background-size: 38px;
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
    border-radius: 40px;
    z-index: 20;
}

.MultiButtonTool .mbt_logo:hover {
    background-color: #404148;
    background-image: url(../images/icons/call-white.png);
}

.MultiButtonTool .mbt_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    opacity: 0;
    right: 0;
    top: 0;
    width: auto;
    transform: translate(100%, -100%);
    transition: .3s;
}

.MultiButtonTool .mbt_content .button {
    background: #404148;
    padding: 18px 40px;
    border-radius: 40px;
    margin-bottom: 20px;
    white-space: pre;
    border: initial;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.MultiButtonTool .mbt_content .button.white {
    background: #fff;
    color: #404148;
}

.MultiButtonTool .mbt_content .button:hover {
    background: #fff;
    color: #404148;
}

.MultiButtonTool .mbt_content .button.white:hover {
    background: #404148;
    color: #fff;
}

.MultiButtonTool.visible .mbt_content {
    opacity: 1;
    transform: translate(0%, -100%);
}